// Утилиты для работы с токенами
// Этот файл содержит вспомогательные функции и миксины для работы с CSS переменными (токенами)
// Основное назначение - преобразование путей токенов в CSS переменные и установка их значений
// Вспомогательная функция для замены символов в строке
// @param {String} $string - Исходная строка
// @param {String} $search - Строка для поиска
// @param {String} $replace - Строка для замены (по умолчанию пустая строка)
// @return {String} - Строка с замененными символами
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}


// Функция для замены косых черт на дефисы
// @param {String} $string - Исходная строка
// @return {String} - Строка с замененными косыми чертами на дефисы
@function replace-slash($string) {
  $string: str-replace($string, '/', '-'); // Заменяем '/' на '-'
  $string: str-replace($string, '\\/', '-'); // Заменяем '\/' на '-'
  @return $string;
}

// Функция для преобразования строки в имя CSS переменной
// @param {String} $token-path - Путь к токену (например, "base.color.primary")
// @param {*} $default - Значение по умолчанию (опционально)
// @return {String} - CSS переменная в формате var(--prefix-variable-name) или var(--prefix-variable-name, $default)
@function token($token-path, $default: none) {
  // Заменяем точки на дефисы и добавляем префикс
  $variable-name: str-replace($token-path, '.', '-');
  // Заменяем косые черты на дефисы
  $variable-name: replace-slash($variable-name);

  // Возвращаем строку для использования в качестве CSS переменной
  @if $default != none {
    @return var(--#{$prefix}#{$variable-name}, $default);
  } @else {
    @return var(--#{$prefix}#{$variable-name});
  }
}

// Миксин для установки CSS переменной
// @param {String} $token-path - Путь к токену (например, "base.color.primary")
// @param {*} $value - Значение переменной
// @param {String} $libprefix - Префикс библиотеки (по умолчанию $prefix)
@mixin set-token($token-path, $value, $libprefix: $prefix) {
  // Заменяем точки на дефисы и добавляем префикс
  $variable-name: str-replace($token-path, '.', '-');
  
  --#{$libprefix}#{$variable-name}: #{$value};
}
