@use "sass:list";
@import '../../utils/token';
@import '../../variables.scss';

.outline {
  &-none {
    outline: none;
  }

  // Только ширина
  @each $size, $sizeValue in $sizes-short {
    &-#{$size} {
      outline-width: $sizeValue;
      outline-style: solid;
    }
  }

  // Только цвет
  @each $color, $value in $palette-rgb {
    &-#{"#{$color}"} {
      outline-color: token("base.color.outline");
      @include set-token("base.color.outline", rgba($value, token("base.color.opacity")));
    }
  }

  &-style {
    &--solid {
      outline-style: solid;
    }

    &--dotted {
      outline-style: dotted;
    }

    &--dashed {
      outline-style: dashed;
    }

    &--groove {
      outline-style: groove;
    }

    &--ridge {
      outline-style: ridge;
    }

    &--inset {
      outline-style: inset;
    }

    &--outset {
      outline-style: outset;
    }
  }
}

@for $offsetStep from -10 through 10 {
  $modifier: if($offsetStep < 0, "\-outline-offset", "outline-offset");
  $value: abs($offsetStep);
  .#{$modifier}-#{$value} {
    outline-offset: #{$offsetStep}px;
  }
}
