
.pointer-events {
  &-none {
    pointer-events: none;
  }

  &-auto {
    pointer-events: auto;
  }
}

.select {
  &-none {
    select: none;
  }

  &-auto {
    select: auto;
  }

  &-all {
    select: all;
  }

  &-text {
    select: text;
  }
}
