$palette-hex: (
  primary-50: token("base.color.primary.50-hex"),
  primary-100: token("base.color.primary.100-hex"),
  primary-200: token("base.color.primary.200-hex"),
  primary-300: token("base.color.primary.300-hex"),
  primary-400: token("base.color.primary.400-hex"),
  primary-500: token("base.color.primary.500-hex"),
  primary-600: token("base.color.primary.600-hex"),
  primary-700: token("base.color.primary.700-hex"),
  primary-800: token("base.color.primary.800-hex"),
  primary-900: token("base.color.primary.900-hex"),
  primary-950: token("base.color.primary.950-hex"),
  primary: token("base.color.primary.def-hex"),
  primary-invert-50: token("base.color.primary.invert.50-hex"),
  primary-invert-100: token("base.color.primary.invert.100-hex"),
  primary-invert-200: token("base.color.primary.invert.200-hex"),
  primary-invert-300: token("base.color.primary.invert.300-hex"),
  primary-invert-400: token("base.color.primary.invert.400-hex"),
  primary-invert-500: token("base.color.primary.invert.500-hex"),
  primary-invert-600: token("base.color.primary.invert.600-hex"),
  primary-invert-700: token("base.color.primary.invert.700-hex"),
  primary-invert-800: token("base.color.primary.invert.800-hex"),
  primary-invert-900: token("base.color.primary.invert.900-hex"),
  primary-invert-950: token("base.color.primary.invert.950-hex"),
  primary-invert: token("base.color.primary.invert.def-hex"),
  secondary-50: token("base.color.secondary.50-hex"),
  secondary-100: token("base.color.secondary.100-hex"),
  secondary-200: token("base.color.secondary.200-hex"),
  secondary-300: token("base.color.secondary.300-hex"),
  secondary-400: token("base.color.secondary.400-hex"),
  secondary-500: token("base.color.secondary.500-hex"),
  secondary-600: token("base.color.secondary.600-hex"),
  secondary-700: token("base.color.secondary.700-hex"),
  secondary-800: token("base.color.secondary.800-hex"),
  secondary-900: token("base.color.secondary.900-hex"),
  secondary-950: token("base.color.secondary.950-hex"),
  secondary: token("base.color.secondary.def-hex"),
  secondary-invert-50: token("base.color.secondary.invert.50-hex"),
  secondary-invert-100: token("base.color.secondary.invert.100-hex"),
  secondary-invert-200: token("base.color.secondary.invert.200-hex"),
  secondary-invert-300: token("base.color.secondary.invert.300-hex"),
  secondary-invert-400: token("base.color.secondary.invert.400-hex"),
  secondary-invert-500: token("base.color.secondary.invert.500-hex"),
  secondary-invert-600: token("base.color.secondary.invert.600-hex"),
  secondary-invert-700: token("base.color.secondary.invert.700-hex"),
  secondary-invert-800: token("base.color.secondary.invert.800-hex"),
  secondary-invert-900: token("base.color.secondary.invert.900-hex"),
  secondary-invert-950: token("base.color.secondary.invert.950-hex"),
  secondary-invert: token("base.color.secondary.invert.def-hex"),
  success-50: token("base.color.success.50-hex"),
  success-100: token("base.color.success.100-hex"),
  success-200: token("base.color.success.200-hex"),
  success-300: token("base.color.success.300-hex"),
  success-400: token("base.color.success.400-hex"),
  success-500: token("base.color.success.500-hex"),
  success-600: token("base.color.success.600-hex"),
  success-700: token("base.color.success.700-hex"),
  success-800: token("base.color.success.800-hex"),
  success-900: token("base.color.success.900-hex"),
  success: token("base.color.success.def-hex"),
  success-invert-100: token("base.color.success.invert.100-hex"),
  success-invert-200: token("base.color.success.invert.200-hex"),
  success-invert-300: token("base.color.success.invert.300-hex"),
  success-invert-400: token("base.color.success.invert.400-hex"),
  success-invert-500: token("base.color.success.invert.500-hex"),
  success-invert-600: token("base.color.success.invert.600-hex"),
  success-invert-700: token("base.color.success.invert.700-hex"),
  success-invert-800: token("base.color.success.invert.800-hex"),
  success-invert-900: token("base.color.success.invert.900-hex"),
  success-invert-950: token("base.color.success.invert.950-hex"),
  success-invert: token("base.color.success.invert.def-hex"),
  danger-50: token("base.color.danger.50-hex"),
  danger-100: token("base.color.danger.100-hex"),
  danger-200: token("base.color.danger.200-hex"),
  danger-300: token("base.color.danger.300-hex"),
  danger-400: token("base.color.danger.400-hex"),
  danger-500: token("base.color.danger.500-hex"),
  danger-600: token("base.color.danger.600-hex"),
  danger-700: token("base.color.danger.700-hex"),
  danger-800: token("base.color.danger.800-hex"),
  danger-900: token("base.color.danger.900-hex"),
  danger: token("base.color.danger.def-hex"),
  danger-invert-100: token("base.color.danger.invert.100-hex"),
  danger-invert-200: token("base.color.danger.invert.200-hex"),
  danger-invert-300: token("base.color.danger.invert.300-hex"),
  danger-invert-400: token("base.color.danger.invert.400-hex"),
  danger-invert-500: token("base.color.danger.invert.500-hex"),
  danger-invert-600: token("base.color.danger.invert.600-hex"),
  danger-invert-700: token("base.color.danger.invert.700-hex"),
  danger-invert-800: token("base.color.danger.invert.800-hex"),
  danger-invert-900: token("base.color.danger.invert.900-hex"),
  danger-invert-950: token("base.color.danger.invert.950-hex"),
  danger-invert: token("base.color.danger.invert.def-hex"),
  warning-50: token("base.color.warning.50-hex"),
  warning-100: token("base.color.warning.100-hex"),
  warning-200: token("base.color.warning.200-hex"),
  warning-300: token("base.color.warning.300-hex"),
  warning-400: token("base.color.warning.400-hex"),
  warning-500: token("base.color.warning.500-hex"),
  warning-600: token("base.color.warning.600-hex"),
  warning-700: token("base.color.warning.700-hex"),
  warning-800: token("base.color.warning.800-hex"),
  warning-900: token("base.color.warning.900-hex"),
  warning: token("base.color.warning.def-hex"),
  warning-invert-100: token("base.color.warning.invert.100-hex"),
  warning-invert-200: token("base.color.warning.invert.200-hex"),
  warning-invert-300: token("base.color.warning.invert.300-hex"),
  warning-invert-400: token("base.color.warning.invert.400-hex"),
  warning-invert-500: token("base.color.warning.invert.500-hex"),
  warning-invert-600: token("base.color.warning.invert.600-hex"),
  warning-invert-700: token("base.color.warning.invert.700-hex"),
  warning-invert-800: token("base.color.warning.invert.800-hex"),
  warning-invert-900: token("base.color.warning.invert.900-hex"),
  warning-invert-950: token("base.color.warning.invert.950-hex"),
  warning-invert: token("base.color.warning.invert.def-hex"),
  info-50: token("base.color.info.50-hex"),
  info-100: token("base.color.info.100-hex"),
  info-200: token("base.color.info.200-hex"),
  info-300: token("base.color.info.300-hex"),
  info-400: token("base.color.info.400-hex"),
  info-500: token("base.color.info.500-hex"),
  info-600: token("base.color.info.600-hex"),
  info-700: token("base.color.info.700-hex"),
  info-800: token("base.color.info.800-hex"),
  info-900: token("base.color.info.900-hex"),
  info: token("base.color.info.def-hex"),
  info-invert-100: token("base.color.info.invert.100-hex"),
  info-invert-200: token("base.color.info.invert.200-hex"),
  info-invert-300: token("base.color.info.invert.300-hex"),
  info-invert-400: token("base.color.info.invert.400-hex"),
  info-invert-500: token("base.color.info.invert.500-hex"),
  info-invert-600: token("base.color.info.invert.600-hex"),
  info-invert-700: token("base.color.info.invert.700-hex"),
  info-invert-800: token("base.color.info.invert.800-hex"),
  info-invert-900: token("base.color.info.invert.900-hex"),
  info-invert-950: token("base.color.info.invert.950-hex"),
  info-invert: token("base.color.info.invert.def-hex"),
  transparent: token("base.color.transparent-hex"),
  white: token("base.color.white-hex"),
  black: token("base.color.black-hex"),
  gray-50: token("base.color.gray.50-hex"),
  gray-100: token("base.color.gray.100-hex"),
  gray-200: token("base.color.gray.200-hex"),
  gray-300: token("base.color.gray.300-hex"),
  gray-400: token("base.color.gray.400-hex"),
  gray-500: token("base.color.gray.500-hex"),
  gray-600: token("base.color.gray.600-hex"),
  gray-700: token("base.color.gray.700-hex"),
  gray-800: token("base.color.gray.800-hex"),
  gray-900: token("base.color.gray.900-hex"),
  gray: token("base.color.gray.def-hex"),
  red-50: token("base.color.red.50-hex"),
  red-100: token("base.color.red.100-hex"),
  red-200: token("base.color.red.200-hex"),
  red-300: token("base.color.red.300-hex"),
  red-400: token("base.color.red.400-hex"),
  red-500: token("base.color.red.500-hex"),
  red-600: token("base.color.red.600-hex"),
  red-700: token("base.color.red.700-hex"),
  red-800: token("base.color.red.800-hex"),
  red-900: token("base.color.red.900-hex"),
  red: token("base.color.red.def-hex"),
  orange-50: token("base.color.orange.50-hex"),
  orange-100: token("base.color.orange.100-hex"),
  orange-200: token("base.color.orange.200-hex"),
  orange-300: token("base.color.orange.300-hex"),
  orange-400: token("base.color.orange.400-hex"),
  orange-500: token("base.color.orange.500-hex"),
  orange-600: token("base.color.orange.600-hex"),
  orange-700: token("base.color.orange.700-hex"),
  orange-800: token("base.color.orange.800-hex"),
  orange-900: token("base.color.orange.900-hex"),
  orange: token("base.color.orange.def-hex"),
  yellow-50: token("base.color.yellow.50-hex"),
  yellow-100: token("base.color.yellow.100-hex"),
  yellow-200: token("base.color.yellow.200-hex"),
  yellow-300: token("base.color.yellow.300-hex"),
  yellow-400: token("base.color.yellow.400-hex"),
  yellow-500: token("base.color.yellow.500-hex"),
  yellow-600: token("base.color.yellow.600-hex"),
  yellow-700: token("base.color.yellow.700-hex"),
  yellow-800: token("base.color.yellow.800-hex"),
  yellow-900: token("base.color.yellow.900-hex"),
  yellow: token("base.color.yellow.def-hex"),
  green-50: token("base.color.green.50-hex"),
  green-100: token("base.color.green.100-hex"),
  green-200: token("base.color.green.200-hex"),
  green-300: token("base.color.green.300-hex"),
  green-400: token("base.color.green.400-hex"),
  green-500: token("base.color.green.500-hex"),
  green-600: token("base.color.green.600-hex"),
  green-700: token("base.color.green.700-hex"),
  green-800: token("base.color.green.800-hex"),
  green-900: token("base.color.green.900-hex"),
  green: token("base.color.green.def-hex"),
  sky-50: token("base.color.sky.50-hex"),
  sky-100: token("base.color.sky.100-hex"),
  sky-200: token("base.color.sky.200-hex"),
  sky-300: token("base.color.sky.300-hex"),
  sky-400: token("base.color.sky.400-hex"),
  sky-500: token("base.color.sky.500-hex"),
  sky-600: token("base.color.sky.600-hex"),
  sky-700: token("base.color.sky.700-hex"),
  sky-800: token("base.color.sky.800-hex"),
  sky-900: token("base.color.sky.900-hex"),
  sky: token("base.color.sky.def-hex"),
  blue-50: token("base.color.blue.50-hex"),
  blue-100: token("base.color.blue.100-hex"),
  blue-200: token("base.color.blue.200-hex"),
  blue-300: token("base.color.blue.300-hex"),
  blue-400: token("base.color.blue.400-hex"),
  blue-500: token("base.color.blue.500-hex"),
  blue-600: token("base.color.blue.600-hex"),
  blue-700: token("base.color.blue.700-hex"),
  blue-800: token("base.color.blue.800-hex"),
  blue-900: token("base.color.blue.900-hex"),
  blue: token("base.color.blue.def-hex"),
);

$palette-rgb: (
  primary-50: token("base.color.primary.50-rgb"),
  primary-100: token("base.color.primary.100-rgb"),
  primary-200: token("base.color.primary.200-rgb"),
  primary-300: token("base.color.primary.300-rgb"),
  primary-400: token("base.color.primary.400-rgb"),
  primary-500: token("base.color.primary.500-rgb"),
  primary-600: token("base.color.primary.600-rgb"),
  primary-700: token("base.color.primary.700-rgb"),
  primary-800: token("base.color.primary.800-rgb"),
  primary-900: token("base.color.primary.900-rgb"),
  primary-950: token("base.color.primary.950-rgb"),
  primary: token("base.color.primary.def-rgb"),
  primary-invert-50: token("base.color.primary.invert.50-rgb"),
  primary-invert-100: token("base.color.primary.invert.100-rgb"),
  primary-invert-200: token("base.color.primary.invert.200-rgb"),
  primary-invert-300: token("base.color.primary.invert.300-rgb"),
  primary-invert-400: token("base.color.primary.invert.400-rgb"),
  primary-invert-500: token("base.color.primary.invert.500-rgb"),
  primary-invert-600: token("base.color.primary.invert.600-rgb"),
  primary-invert-700: token("base.color.primary.invert.700-rgb"),
  primary-invert-800: token("base.color.primary.invert.800-rgb"),
  primary-invert-900: token("base.color.primary.invert.900-rgb"),
  primary-invert-950: token("base.color.primary.invert.950-rgb"),
  primary-invert: token("base.color.primary.invert.def-rgb"),
  secondary-50: token("base.color.secondary.50-rgb"),
  secondary-100: token("base.color.secondary.100-rgb"),
  secondary-200: token("base.color.secondary.200-rgb"),
  secondary-300: token("base.color.secondary.300-rgb"),
  secondary-400: token("base.color.secondary.400-rgb"),
  secondary-500: token("base.color.secondary.500-rgb"),
  secondary-600: token("base.color.secondary.600-rgb"),
  secondary-700: token("base.color.secondary.700-rgb"),
  secondary-800: token("base.color.secondary.800-rgb"),
  secondary-900: token("base.color.secondary.900-rgb"),
  secondary-950: token("base.color.secondary.950-rgb"),
  secondary: token("base.color.secondary.def-rgb"),
  secondary-invert-50: token("base.color.secondary.invert.50-rgb"),
  secondary-invert-100: token("base.color.secondary.invert.100-rgb"),
  secondary-invert-200: token("base.color.secondary.invert.200-rgb"),
  secondary-invert-300: token("base.color.secondary.invert.300-rgb"),
  secondary-invert-400: token("base.color.secondary.invert.400-rgb"),
  secondary-invert-500: token("base.color.secondary.invert.500-rgb"),
  secondary-invert-600: token("base.color.secondary.invert.600-rgb"),
  secondary-invert-700: token("base.color.secondary.invert.700-rgb"),
  secondary-invert-800: token("base.color.secondary.invert.800-rgb"),
  secondary-invert-900: token("base.color.secondary.invert.900-rgb"),
  secondary-invert-950: token("base.color.secondary.invert.950-rgb"),
  secondary-invert: token("base.color.secondary.invert.def-rgb"),
  success-50: token("base.color.success.50-rgb"),
  success-100: token("base.color.success.100-rgb"),
  success-200: token("base.color.success.200-rgb"),
  success-300: token("base.color.success.300-rgb"),
  success-400: token("base.color.success.400-rgb"),
  success-500: token("base.color.success.500-rgb"),
  success-600: token("base.color.success.600-rgb"),
  success-700: token("base.color.success.700-rgb"),
  success-800: token("base.color.success.800-rgb"),
  success-900: token("base.color.success.900-rgb"),
  success: token("base.color.success.def-rgb"),
  success-invert-100: token("base.color.success.invert.100-rgb"),
  success-invert-200: token("base.color.success.invert.200-rgb"),
  success-invert-300: token("base.color.success.invert.300-rgb"),
  success-invert-400: token("base.color.success.invert.400-rgb"),
  success-invert-500: token("base.color.success.invert.500-rgb"),
  success-invert-600: token("base.color.success.invert.600-rgb"),
  success-invert-700: token("base.color.success.invert.700-rgb"),
  success-invert-800: token("base.color.success.invert.800-rgb"),
  success-invert-900: token("base.color.success.invert.900-rgb"),
  success-invert-950: token("base.color.success.invert.950-rgb"),
  success-invert: token("base.color.success.invert.def-rgb"),
  danger-50: token("base.color.danger.50-rgb"),
  danger-100: token("base.color.danger.100-rgb"),
  danger-200: token("base.color.danger.200-rgb"),
  danger-300: token("base.color.danger.300-rgb"),
  danger-400: token("base.color.danger.400-rgb"),
  danger-500: token("base.color.danger.500-rgb"),
  danger-600: token("base.color.danger.600-rgb"),
  danger-700: token("base.color.danger.700-rgb"),
  danger-800: token("base.color.danger.800-rgb"),
  danger-900: token("base.color.danger.900-rgb"),
  danger: token("base.color.danger.def-rgb"),
  danger-invert-100: token("base.color.danger.invert.100-rgb"),
  danger-invert-200: token("base.color.danger.invert.200-rgb"),
  danger-invert-300: token("base.color.danger.invert.300-rgb"),
  danger-invert-400: token("base.color.danger.invert.400-rgb"),
  danger-invert-500: token("base.color.danger.invert.500-rgb"),
  danger-invert-600: token("base.color.danger.invert.600-rgb"),
  danger-invert-700: token("base.color.danger.invert.700-rgb"),
  danger-invert-800: token("base.color.danger.invert.800-rgb"),
  danger-invert-900: token("base.color.danger.invert.900-rgb"),
  danger-invert-950: token("base.color.danger.invert.950-rgb"),
  danger-invert: token("base.color.danger.invert.def-rgb"),
  warning-50: token("base.color.warning.50-rgb"),
  warning-100: token("base.color.warning.100-rgb"),
  warning-200: token("base.color.warning.200-rgb"),
  warning-300: token("base.color.warning.300-rgb"),
  warning-400: token("base.color.warning.400-rgb"),
  warning-500: token("base.color.warning.500-rgb"),
  warning-600: token("base.color.warning.600-rgb"),
  warning-700: token("base.color.warning.700-rgb"),
  warning-800: token("base.color.warning.800-rgb"),
  warning-900: token("base.color.warning.900-rgb"),
  warning: token("base.color.warning.def-rgb"),
  warning-invert-100: token("base.color.warning.invert.100-rgb"),
  warning-invert-200: token("base.color.warning.invert.200-rgb"),
  warning-invert-300: token("base.color.warning.invert.300-rgb"),
  warning-invert-400: token("base.color.warning.invert.400-rgb"),
  warning-invert-500: token("base.color.warning.invert.500-rgb"),
  warning-invert-600: token("base.color.warning.invert.600-rgb"),
  warning-invert-700: token("base.color.warning.invert.700-rgb"),
  warning-invert-800: token("base.color.warning.invert.800-rgb"),
  warning-invert-900: token("base.color.warning.invert.900-rgb"),
  warning-invert-950: token("base.color.warning.invert.950-rgb"),
  warning-invert: token("base.color.warning.invert.def-rgb"),
  info-50: token("base.color.info.50-rgb"),
  info-100: token("base.color.info.100-rgb"),
  info-200: token("base.color.info.200-rgb"),
  info-300: token("base.color.info.300-rgb"),
  info-400: token("base.color.info.400-rgb"),
  info-500: token("base.color.info.500-rgb"),
  info-600: token("base.color.info.600-rgb"),
  info-700: token("base.color.info.700-rgb"),
  info-800: token("base.color.info.800-rgb"),
  info-900: token("base.color.info.900-rgb"),
  info: token("base.color.info.def-rgb"),
  info-invert-100: token("base.color.info.invert.100-rgb"),
  info-invert-200: token("base.color.info.invert.200-rgb"),
  info-invert-300: token("base.color.info.invert.300-rgb"),
  info-invert-400: token("base.color.info.invert.400-rgb"),
  info-invert-500: token("base.color.info.invert.500-rgb"),
  info-invert-600: token("base.color.info.invert.600-rgb"),
  info-invert-700: token("base.color.info.invert.700-rgb"),
  info-invert-800: token("base.color.info.invert.800-rgb"),
  info-invert-900: token("base.color.info.invert.900-rgb"),
  info-invert-950: token("base.color.info.invert.950-rgb"),
  info-invert: token("base.color.info.invert.def-rgb"),
  transparent: token("base.color.transparent-rgb"),
  white: token("base.color.white-rgb"),
  black: token("base.color.black-rgb"),
  gray-50: token("base.color.gray.50-rgb"),
  gray-100: token("base.color.gray.100-rgb"),
  gray-200: token("base.color.gray.200-rgb"),
  gray-300: token("base.color.gray.300-rgb"),
  gray-400: token("base.color.gray.400-rgb"),
  gray-500: token("base.color.gray.500-rgb"),
  gray-600: token("base.color.gray.600-rgb"),
  gray-700: token("base.color.gray.700-rgb"),
  gray-800: token("base.color.gray.800-rgb"),
  gray-900: token("base.color.gray.900-rgb"),
  gray: token("base.color.gray.def-rgb"),
  red-50: token("base.color.red.50-rgb"),
  red-100: token("base.color.red.100-rgb"),
  red-200: token("base.color.red.200-rgb"),
  red-300: token("base.color.red.300-rgb"),
  red-400: token("base.color.red.400-rgb"),
  red-500: token("base.color.red.500-rgb"),
  red-600: token("base.color.red.600-rgb"),
  red-700: token("base.color.red.700-rgb"),
  red-800: token("base.color.red.800-rgb"),
  red-900: token("base.color.red.900-rgb"),
  red: token("base.color.red.def-rgb"),
  orange-50: token("base.color.orange.50-rgb"),
  orange-100: token("base.color.orange.100-rgb"),
  orange-200: token("base.color.orange.200-rgb"),
  orange-300: token("base.color.orange.300-rgb"),
  orange-400: token("base.color.orange.400-rgb"),
  orange-500: token("base.color.orange.500-rgb"),
  orange-600: token("base.color.orange.600-rgb"),
  orange-700: token("base.color.orange.700-rgb"),
  orange-800: token("base.color.orange.800-rgb"),
  orange-900: token("base.color.orange.900-rgb"),
  orange: token("base.color.orange.def-rgb"),
  yellow-50: token("base.color.yellow.50-rgb"),
  yellow-100: token("base.color.yellow.100-rgb"),
  yellow-200: token("base.color.yellow.200-rgb"),
  yellow-300: token("base.color.yellow.300-rgb"),
  yellow-400: token("base.color.yellow.400-rgb"),
  yellow-500: token("base.color.yellow.500-rgb"),
  yellow-600: token("base.color.yellow.600-rgb"),
  yellow-700: token("base.color.yellow.700-rgb"),
  yellow-800: token("base.color.yellow.800-rgb"),
  yellow-900: token("base.color.yellow.900-rgb"),
  yellow: token("base.color.yellow.def-rgb"),
  green-50: token("base.color.green.50-rgb"),
  green-100: token("base.color.green.100-rgb"),
  green-200: token("base.color.green.200-rgb"),
  green-300: token("base.color.green.300-rgb"),
  green-400: token("base.color.green.400-rgb"),
  green-500: token("base.color.green.500-rgb"),
  green-600: token("base.color.green.600-rgb"),
  green-700: token("base.color.green.700-rgb"),
  green-800: token("base.color.green.800-rgb"),
  green-900: token("base.color.green.900-rgb"),
  green: token("base.color.green.def-rgb"),
  sky-50: token("base.color.sky.50-rgb"),
  sky-100: token("base.color.sky.100-rgb"),
  sky-200: token("base.color.sky.200-rgb"),
  sky-300: token("base.color.sky.300-rgb"),
  sky-400: token("base.color.sky.400-rgb"),
  sky-500: token("base.color.sky.500-rgb"),
  sky-600: token("base.color.sky.600-rgb"),
  sky-700: token("base.color.sky.700-rgb"),
  sky-800: token("base.color.sky.800-rgb"),
  sky-900: token("base.color.sky.900-rgb"),
  sky: token("base.color.sky.def-rgb"),
  blue-50: token("base.color.blue.50-rgb"),
  blue-100: token("base.color.blue.100-rgb"),
  blue-200: token("base.color.blue.200-rgb"),
  blue-300: token("base.color.blue.300-rgb"),
  blue-400: token("base.color.blue.400-rgb"),
  blue-500: token("base.color.blue.500-rgb"),
  blue-600: token("base.color.blue.600-rgb"),
  blue-700: token("base.color.blue.700-rgb"),
  blue-800: token("base.color.blue.800-rgb"),
  blue-900: token("base.color.blue.900-rgb"),
  blue: token("base.color.blue.def-rgb"),
);

$palette: (
  primary-50: token("base.color.primary.50"),
  primary-100: token("base.color.primary.100"),
  primary-200: token("base.color.primary.200"),
  primary-300: token("base.color.primary.300"),
  primary-400: token("base.color.primary.400"),
  primary-500: token("base.color.primary.500"),
  primary-600: token("base.color.primary.600"),
  primary-700: token("base.color.primary.700"),
  primary-800: token("base.color.primary.800"),
  primary-900: token("base.color.primary.900"),
  primary-950: token("base.color.primary.950"),
  primary-def: token("base.color.primary.def"),
  primary-invert-50: token("base.color.primary.invert.50"),
  primary-invert-100: token("base.color.primary.invert.100"),
  primary-invert-200: token("base.color.primary.invert.200"),
  primary-invert-300: token("base.color.primary.invert.300"),
  primary-invert-400: token("base.color.primary.invert.400"),
  primary-invert-500: token("base.color.primary.invert.500"),
  primary-invert-600: token("base.color.primary.invert.600"),
  primary-invert-700: token("base.color.primary.invert.700"),
  primary-invert-800: token("base.color.primary.invert.800"),
  primary-invert-900: token("base.color.primary.invert.900"),
  primary-invert-950: token("base.color.primary.invert.950"),
  primary-invert-def: token("base.color.primary.invert.def"),
  secondary-50: token("base.color.secondary.50"),
  secondary-100: token("base.color.secondary.100"),
  secondary-200: token("base.color.secondary.200"),
  secondary-300: token("base.color.secondary.300"),
  secondary-400: token("base.color.secondary.400"),
  secondary-500: token("base.color.secondary.500"),
  secondary-600: token("base.color.secondary.600"),
  secondary-700: token("base.color.secondary.700"),
  secondary-800: token("base.color.secondary.800"),
  secondary-900: token("base.color.secondary.900"),
  secondary-950: token("base.color.secondary.950"),
  secondary-def: token("base.color.secondary.def"),
  secondary-invert-50: token("base.color.secondary.invert.50"),
  secondary-invert-100: token("base.color.secondary.invert.100"),
  secondary-invert-200: token("base.color.secondary.invert.200"),
  secondary-invert-300: token("base.color.secondary.invert.300"),
  secondary-invert-400: token("base.color.secondary.invert.400"),
  secondary-invert-500: token("base.color.secondary.invert.500"),
  secondary-invert-600: token("base.color.secondary.invert.600"),
  secondary-invert-700: token("base.color.secondary.invert.700"),
  secondary-invert-800: token("base.color.secondary.invert.800"),
  secondary-invert-900: token("base.color.secondary.invert.900"),
  secondary-invert-950: token("base.color.secondary.invert.950"),
  secondary-invert-def: token("base.color.secondary.invert.def"),
  success-50: token("base.color.success.50"),
  success-100: token("base.color.success.100"),
  success-200: token("base.color.success.200"),
  success-300: token("base.color.success.300"),
  success-400: token("base.color.success.400"),
  success-500: token("base.color.success.500"),
  success-600: token("base.color.success.600"),
  success-700: token("base.color.success.700"),
  success-800: token("base.color.success.800"),
  success-900: token("base.color.success.900"),
  success-def: token("base.color.success.def"),
  success-invert-100: token("base.color.success.invert.100"),
  success-invert-200: token("base.color.success.invert.200"),
  success-invert-300: token("base.color.success.invert.300"),
  success-invert-400: token("base.color.success.invert.400"),
  success-invert-500: token("base.color.success.invert.500"),
  success-invert-600: token("base.color.success.invert.600"),
  success-invert-700: token("base.color.success.invert.700"),
  success-invert-800: token("base.color.success.invert.800"),
  success-invert-900: token("base.color.success.invert.900"),
  success-invert-950: token("base.color.success.invert.950"),
  success-invert-def: token("base.color.success.invert.def"),
  danger-50: token("base.color.danger.50"),
  danger-100: token("base.color.danger.100"),
  danger-200: token("base.color.danger.200"),
  danger-300: token("base.color.danger.300"),
  danger-400: token("base.color.danger.400"),
  danger-500: token("base.color.danger.500"),
  danger-600: token("base.color.danger.600"),
  danger-700: token("base.color.danger.700"),
  danger-800: token("base.color.danger.800"),
  danger-900: token("base.color.danger.900"),
  danger-def: token("base.color.danger.def"),
  danger-invert-100: token("base.color.danger.invert.100"),
  danger-invert-200: token("base.color.danger.invert.200"),
  danger-invert-300: token("base.color.danger.invert.300"),
  danger-invert-400: token("base.color.danger.invert.400"),
  danger-invert-500: token("base.color.danger.invert.500"),
  danger-invert-600: token("base.color.danger.invert.600"),
  danger-invert-700: token("base.color.danger.invert.700"),
  danger-invert-800: token("base.color.danger.invert.800"),
  danger-invert-900: token("base.color.danger.invert.900"),
  danger-invert-950: token("base.color.danger.invert.950"),
  danger-invert-def: token("base.color.danger.invert.def"),
  warning-50: token("base.color.warning.50"),
  warning-100: token("base.color.warning.100"),
  warning-200: token("base.color.warning.200"),
  warning-300: token("base.color.warning.300"),
  warning-400: token("base.color.warning.400"),
  warning-500: token("base.color.warning.500"),
  warning-600: token("base.color.warning.600"),
  warning-700: token("base.color.warning.700"),
  warning-800: token("base.color.warning.800"),
  warning-900: token("base.color.warning.900"),
  warning-def: token("base.color.warning.def"),
  warning-invert-100: token("base.color.warning.invert.100"),
  warning-invert-200: token("base.color.warning.invert.200"),
  warning-invert-300: token("base.color.warning.invert.300"),
  warning-invert-400: token("base.color.warning.invert.400"),
  warning-invert-500: token("base.color.warning.invert.500"),
  warning-invert-600: token("base.color.warning.invert.600"),
  warning-invert-700: token("base.color.warning.invert.700"),
  warning-invert-800: token("base.color.warning.invert.800"),
  warning-invert-900: token("base.color.warning.invert.900"),
  warning-invert-950: token("base.color.warning.invert.950"),
  warning-invert-def: token("base.color.warning.invert.def"),
  info-50: token("base.color.info.50"),
  info-100: token("base.color.info.100"),
  info-200: token("base.color.info.200"),
  info-300: token("base.color.info.300"),
  info-400: token("base.color.info.400"),
  info-500: token("base.color.info.500"),
  info-600: token("base.color.info.600"),
  info-700: token("base.color.info.700"),
  info-800: token("base.color.info.800"),
  info-900: token("base.color.info.900"),
  info-def: token("base.color.info.def"),
  info-invert-100: token("base.color.info.invert.100"),
  info-invert-200: token("base.color.info.invert.200"),
  info-invert-300: token("base.color.info.invert.300"),
  info-invert-400: token("base.color.info.invert.400"),
  info-invert-500: token("base.color.info.invert.500"),
  info-invert-600: token("base.color.info.invert.600"),
  info-invert-700: token("base.color.info.invert.700"),
  info-invert-800: token("base.color.info.invert.800"),
  info-invert-900: token("base.color.info.invert.900"),
  info-invert-950: token("base.color.info.invert.950"),
  info-invert-def: token("base.color.info.invert.def"),
  transparent: token("base.color.transparent"),
  transparent-invert: token("base.color.transparent-invert"),
  white: token("base.color.white"),
  black: token("base.color.black"),
  background: token("base.color.background"),
  gray-50: token("base.color.gray.50"),
  gray-100: token("base.color.gray.100"),
  gray-200: token("base.color.gray.200"),
  gray-300: token("base.color.gray.300"),
  gray-400: token("base.color.gray.400"),
  gray-500: token("base.color.gray.500"),
  gray-600: token("base.color.gray.600"),
  gray-700: token("base.color.gray.700"),
  gray-800: token("base.color.gray.800"),
  gray-900: token("base.color.gray.900"),
  gray-def: token("base.color.gray.def"),
  red-50: token("base.color.red.50"),
  red-100: token("base.color.red.100"),
  red-200: token("base.color.red.200"),
  red-300: token("base.color.red.300"),
  red-400: token("base.color.red.400"),
  red-500: token("base.color.red.500"),
  red-600: token("base.color.red.600"),
  red-700: token("base.color.red.700"),
  red-800: token("base.color.red.800"),
  red-900: token("base.color.red.900"),
  red-def: token("base.color.red.def"),
  orange-50: token("base.color.orange.50"),
  orange-100: token("base.color.orange.100"),
  orange-200: token("base.color.orange.200"),
  orange-300: token("base.color.orange.300"),
  orange-400: token("base.color.orange.400"),
  orange-500: token("base.color.orange.500"),
  orange-600: token("base.color.orange.600"),
  orange-700: token("base.color.orange.700"),
  orange-800: token("base.color.orange.800"),
  orange-900: token("base.color.orange.900"),
  orange-def: token("base.color.orange.def"),
  yellow-50: token("base.color.yellow.50"),
  yellow-100: token("base.color.yellow.100"),
  yellow-200: token("base.color.yellow.200"),
  yellow-300: token("base.color.yellow.300"),
  yellow-400: token("base.color.yellow.400"),
  yellow-500: token("base.color.yellow.500"),
  yellow-600: token("base.color.yellow.600"),
  yellow-700: token("base.color.yellow.700"),
  yellow-800: token("base.color.yellow.800"),
  yellow-900: token("base.color.yellow.900"),
  yellow-def: token("base.color.yellow.def"),
  green-50: token("base.color.green.50"),
  green-100: token("base.color.green.100"),
  green-200: token("base.color.green.200"),
  green-300: token("base.color.green.300"),
  green-400: token("base.color.green.400"),
  green-500: token("base.color.green.500"),
  green-600: token("base.color.green.600"),
  green-700: token("base.color.green.700"),
  green-800: token("base.color.green.800"),
  green-900: token("base.color.green.900"),
  green-def: token("base.color.green.def"),
  sky-50: token("base.color.sky.50"),
  sky-100: token("base.color.sky.100"),
  sky-200: token("base.color.sky.200"),
  sky-300: token("base.color.sky.300"),
  sky-400: token("base.color.sky.400"),
  sky-500: token("base.color.sky.500"),
  sky-600: token("base.color.sky.600"),
  sky-700: token("base.color.sky.700"),
  sky-800: token("base.color.sky.800"),
  sky-900: token("base.color.sky.900"),
  sky-def: token("base.color.sky.def"),
  blue-50: token("base.color.blue.50"),
  blue-100: token("base.color.blue.100"),
  blue-200: token("base.color.blue.200"),
  blue-300: token("base.color.blue.300"),
  blue-400: token("base.color.blue.400"),
  blue-500: token("base.color.blue.500"),
  blue-600: token("base.color.blue.600"),
  blue-700: token("base.color.blue.700"),
  blue-800: token("base.color.blue.800"),
  blue-900: token("base.color.blue.900"),
  blue-def: token("base.color.blue.def"),
  opacity: token("base.color.opacity"),
  primary: token("base.color.variant.primary"),
  primary-invert: token("base.color.variant.primary-invert"),
  secondary: token("base.color.variant.secondary"),
  secondary-invert: token("base.color.variant.secondary-invert"),
  success: token("base.color.variant.success"),
  success-invert: token("base.color.variant.success-invert"),
  info: token("base.color.variant.info"),
  info-invert: token("base.color.variant.info-invert"),
  warning: token("base.color.variant.warning"),
  warning-invert: token("base.color.variant.warning-invert"),
  danger: token("base.color.variant.danger"),
  danger-invert: token("base.color.variant.danger-invert"),
);