@import '../../utils/token';
@import '../../variables.scss';

.rounded {
  @each $key, $value in $radiuses {
    @if $key == "base" {
      border-radius: $value;

      &-t {
        border-top-right-radius: $value;
        border-top-left-radius: $value;
      }

      &-r {
        border-top-right-radius: $value;
        border-bottom-right-radius: $value;
      }

      &-b {
        border-bottom-right-radius: $value;
        border-bottom-left-radius: $value;
      }

      &-l {
        border-top-left-radius: $value;
        border-bottom-left-radius: $value;
      }

      &-tr {
        border-top-right-radius: $value;
      }

      &-tl {
        border-top-left-radius: $value;
      }

      &-br {
        border-bottom-right-radius: $value;
      }

      &-bl {
        border-bottom-left-radius: $value;
      }
    } @else {
      &-#{$key} {
        border-radius: $value;
      }

      &-t-#{$key} {
        border-top-right-radius: $value;
        border-top-left-radius: $value;
      }

      &-r-#{$key} {
        border-top-right-radius: $value;
        border-bottom-right-radius: $value;
      }

      &-b-#{$key} {
        border-bottom-right-radius: $value;
        border-bottom-left-radius: $value;
      }

      &-l-#{$key} {
        border-top-left-radius: $value;
        border-bottom-left-radius: $value;
      }

      &-tr-#{$key} {
        border-top-right-radius: $value;
      }

      &-tl-#{$key} {
        border-top-left-radius: $value;
      }

      &-br-#{$key} {
        border-bottom-right-radius: $value;
      }

      &-bl-#{$key} {
        border-bottom-left-radius: $value;
      }
    }
  }

  &-none {
    border-radius: 0;
  }
}

.circle {
  border-radius: token("base.border.rounded");
}
