@import "../../variables";

.hidden {
  display: none !important;
}

@each $breakpoint, $width in $screens {
  @if $breakpoint == 'xs' {
    // Пропускаем `xs`, так как это начальный брейкпоинт.
  } @else {
    $prev-breakpoint: nth(nth(map-keys($screens), index(map-keys($screens), $breakpoint) - 1), 1);
    $prev-width: map-get($screens, $prev-breakpoint);

    @media (min-width: $prev-width) and (max-width: calc($width - 1px)) {
      .hidden-#{$breakpoint} { display: none !important }
    }
  }
}

$last-breakpoint: nth(map-keys($screens), length(map-keys($screens)));
$last-width: map-get($screens, $last-breakpoint);
@media (min-width: $last-width) {
  .hidden-full { display: none !important }
}
