@import "../../variables";

.w {
  &-screen {
    width: 100vw;
  }

  @each $key, $value in $sizes {
    &-#{$key} {
      width: $value;
    }
  }
}

.h {
  &-screen {
    height: 100vh;
  }

  @each $key, $value in $sizes {
    &-#{$key} {
      height: $value;
    }
  }
}

.size {
  &-screen {
    width: 100vw;
    height: 100vh;
  }

  @each $key, $value in $sizes {
    &-#{$key} {
      width: $value;
      height: $value;
    }
  }
}

.min {
  &-w {
    &-screen {
      min-width: 100vw;
    }

    @each $key, $value in $sizes {
      &-#{$key} {
        min-width: $value;
      }
    }
  }

  &-h {
    &-screen {
      min-height: 100vh;
    }

    @each $key, $value in $sizes {
      &-#{$key} {
        min-height: $value;
      }
    }
  }
}

.max {
  &-w {
    &-screen {
      max-width: 100vw;
    }

    @each $key, $value in $sizes {
      &-#{$key} {
        max-width: $value;
      }
    }
  }

  &-h {
    &-screen {
      max-height: 100vh;
    }

    @each $key, $value in $sizes {
      &-#{$key} {
        max-height: $value;
      }
    }
  }
}
