@import 'ustatic-css';
@import 'ustatic-css/vars';
@import 'ustatic-css/resets/button';
@import 'ustatic-css/resets/reset';

/* Исправление прокрутки для документации */
html {
  overflow-y: auto !important;
}

body {
  overflow-y: auto !important;
  min-height: 100vh;
}