/*
 * Файл списков для генерации классов
 */

@import './utils/token';
@import './assets/tokens/prefix';

$screens: (
  "xs": token("base.screen.small"),
  "md": token("base.screen.medium"),
  "def": token("base.screen.default"),
  "lg": token("base.screen.large"),
) !default;

$directions: (
  "": ("", ""),
  "x": ("left", "right"),
  "y": ("top", "bottom"),
  "t": ("top", ""),
  "b": ("bottom", ""),
  "l": ("left", ""),
  "r": ("right", ""),
) !default;

$sizes-short: (
  '0d5': token("base.size.0d5"),
  '1': token("base.size.1"),
  '2': token("base.size.2"),
  '3': token("base.size.3"),
  '4': token("base.size.4"),
  '5': token("base.size.5"),
  '6': token("base.size.6"),
  '8': token("base.size.8"),
  '9': token("base.size.9"),
) !default;

$sizes: (
  '1': token("base.size.1"),
  '2': token("base.size.2"),
  '3': token("base.size.3"),
  '4': token("base.size.4"),
  '5': token("base.size.5"),
  '6': token("base.size.6"),
  '8': token("base.size.8"),
  '9': token("base.size.9"),
  '10': token("base.size.10"),
  '12': token("base.size.12"),
  '16': token("base.size.16"),
  '18': token("base.size.18"),
  '20': token("base.size.20"),
  '24': token("base.size.24"),
  '32': token("base.size.32"),
  '40': token("base.size.40"),
  '48': token("base.size.48"),
  '56': token("base.size.56"),
  '64': token("base.size.64"),
  '72': token("base.size.72"),
  '80': token("base.size.80"),
  '96': token("base.size.96"),
  '112': token("base.size.112"),
  '128': token("base.size.128"),
  '144': token("base.size.144"),
  '160': token("base.size.160"),
  '192': token("base.size.192"),
  '224': token("base.size.224"),
  '256': token("base.size.256"),

  1\/4: token("base.size.1/4"),
  1\/3: token("base.size.1/3"),
  1\/2: token("base.size.1/2"),
  2\/3: token("base.size.2/3"),
  3\/4: token("base.size.3/4"),
  4\/5: token("base.size.4/5"),
  
  'px': token("base.size.px"),
  '0d5': token("base.size.0d5"),
  'full': token("base.size.full"),
  'auto': token("base.size.auto"),
  'none': token("base.size.none"),
  'fit': token("base.size.fit")
) !default;

// Генератор viewport единиц
@for $i from 5 through 100 {
  $sizes: map-merge($sizes, (
    '#{$i}vh': token("base.position.#{$i}vh"),
    '#{$i}vw': token("base.position.#{$i}vw")
  ));
}

$positions: (
  0: token("base.position.0"),
  px: token("base.position.px"),
  1: token("base.position.1"),
  2: token("base.position.2"),
  3: token("base.position.3"),
  4: token("base.position.4"),
  5: token("base.position.5"),
  6: token("base.position.6"),
  7: token("base.position.7"),
  8: token("base.position.8"),
  9: token("base.position.9"),
  10: token("base.position.10"),
  12: token("base.position.12"),
  18: token("base.position.18"),
  64: token("base.position.64"),

  1\/4: token("base.position.1/4"),
  1\/2: token("base.position.1/2"),
  3\/4: token("base.position.3/4"),
  4\/5: token("base.position.4/5"),

  auto: token("base.position.auto"),
  full: token("base.position.full"),
) !default;

$steps: (
  0: token("base.step.0"),
  1: token("base.step.1"),
  2: token("base.step.2"),
  3: token("base.step.3"),
  4: token("base.step.4"),
  5: token("base.step.5"),
  6: token("base.step.6"),
  7: token("base.step.7"),
  8: token("base.step.8"),
  9: token("base.step.9"),
  10: token("base.step.10"),
  auto: token("base.step.auto"),
) !default;

$flex-orders: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  last: 99999
) !default;

$text-sizes: (
  '2xs': (token("base.text.size.2xs"), token("base.text.line.height.2xs")),    // 10px
  'xs': (token("base.text.size.xs"), token("base.text.line.height.xs")),    // 12px
  'sm': (token("base.text.size.sm"), token("base.text.line.height.sm")),   // 14px
  'base': (token("base.text.size.base"), token("base.text.line.height.base")),     // 16px
  'lg': (token("base.text.size.lg"), token("base.text.line.height.lg")),   // 18px
  'xl': (token("base.text.size.xl"), token("base.text.line.height.xl")),    // 20px
  '2xl': (token("base.text.size.2xl"), token("base.text.line.height.2xl")),    // 24px
);

$text-algins: (
  left,
  center,
  right,
  justify,
  start,
  end
);

$vertical-algins: (
  top,
  middle,
  bottom,
  baseline,
  text-top,
  text-bottom,
  sub,
  super
);

$font-weights: (
  'thin': token('base.font.weight.thin'),
  'extralight': token('base.font.weight.extralight'),
  'light': token('base.font.weight.light'),
  'regular': token('base.font.weight.regular'),
  'medium': token('base.font.weight.medium'),
  'semibold': token('base.font.weight.semibold'),
  'bold': token('base.font.weight.bold'),
  'extrabold': token('base.font.weight.extrabold'),
  'black': token('base.font.weight.black')
);

$colors-variants: (
  "primary": (
    token("base.color.variant.primary"),
    token("base.color.variant.primary-invert"),
  ),
  "secondary": (
    token("base.color.variant.secondary"),
    token("base.color.variant.secondary-invert"),
  ),
  "success": (
    token("base.color.variant.success"),
    token("base.color.variant.success-invert"),
  ),
  "info": (
    token("base.color.variant.info"),
    token("base.color.variant.info-invert"),
  ),
  "warning": (
    token("base.color.variant.warning"),
    token("base.color.variant.warning-invert"),
  ),
  "danger": (
    token("base.color.variant.danger"),
    token("base.color.variant.danger-invert"),
  ),
) !default;

$radiuses: (
  none: token("base.border.radius.none"),
  sm: token("base.border.radius.sm"),
  base: token("base.border.radius.base"),
  md: token("base.border.radius.md"),
  lg: token("base.border.radius.lg"),
  xl: token("base.border.radius.xl"),
  2xl: token("base.border.radius.2xl"),
  3xl: token("base.border.radius.3xl"),
  full: token("base.border.radius.full")
);

$opacities: (
  0,
  5,
  10,
  20,
  25,
  30,
  40,
  50,
  60,
  70,
  75,
  80,
  90,
  95,
  100
);

$rotations: (
  0: token("base.rotation.0"),
  45: token("base.rotation.45"),
  90: token("base.rotation.90"),
  135: token("base.rotation.135"),
  180: token("base.rotation.180"),
  225: token("base.rotation.225"),
  270: token("base.rotation.270"),
  315: token("base.rotation.315")
);