fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}