/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: token("base.color.variant.primary");
  font-weight: token("base.font.weight.medium");
  text-decoration: inherit;

  &:focus {
    outline: none;
    text-decoration: underline;
  }
}